# Group Project: Arxiv Classifier
Authors: Amir Yunus, Brandon Gay, Lee Oon Teng

In [1]:
from utils import load_data, save_data
import utils.feature_engineering as engineer

# 03 - Feature Engineering

## 03.01 - Load the Data

In [2]:
filename = 'arxiv'
df = load_data(f'../data/01_{filename}_processed.bin')
df.shape

,title,summary,comment,authors,category,split
0,reassessment kinematics pv cephei based accura...,present two large array observations premainse...,pages figures accepted publication revmexaa,l loinard l f rodriguez l gomez j canto c raga...,physics,train
1,proper phase imprinting method dark soliton ex...,common knowledge dark soliton excited ultracol...,pages figures version accepted publication phy...,krzysztof sacha dominique delande,physics,train
2,impact primordial supersonic flows early struc...,tseliakhovich hirata recently discovered highe...,paulo maiora canamus accepted publication mnra...,umberto maio leon v e koopmans benedetta ciardi,physics,train
3,selfcontracted curves spaces weak lower curvat...,show bounded selfcontracted curves rectifiable...,goofy mistake formulations theorem fixed,nina lebedeva shinichi ohta vladimir zolotov,mathematics,train
4,highharmonic generation liquids fewcycle pulse...,highharmonic generation hhg liquids opening ne...,pages figures,angana mondal benedikt waser tadas balciunas o...,physics,train

(58816, 6)

## 03.02 - Tokenize and Lemmatize the Data

In [3]:
df = engineer.lemmatize(df)
df.head()

Processing text column: 100%|██████████| 1838/1838 [00:04<00:00, 395.06it/s]
Processing text column: 100%|██████████| 1838/1838 [00:00<00:00, 118640.34it/s]
Processing text column: 100%|██████████| 1838/1838 [00:40<00:00, 44.93it/s]
Processing text column: 100%|██████████| 1838/1838 [00:00<00:00, 104254.93it/s]
Processing text column: 100%|██████████| 1838/1838 [00:03<00:00, 529.33it/s]
Processing text column: 100%|██████████| 1838/1838 [00:00<00:00, 109960.79it/s]
Processing text column: 100%|██████████| 1838/1838 [00:03<00:00, 491.28it/s]
Processing text column: 100%|██████████| 1838/1838 [00:00<00:00, 108816.86it/s]
Lemmatizing columns: 100%|██████████| 4/4 [00:52<00:00, 13.23s/it]

,title,summary,comment,authors,category,split
0,"[re, ##asse, ##ss, ##ment, kin, ##ema, ##tics,...","[present, two, large, array, observations, pre...","[pages, figures, accepted, publication, rev, #...","[l, lo, ##ina, ##rd, l, f, rodriguez, l, gomez...",physics,train
1,"[proper, phase, imprint, ##ing, method, dark, ...","[common, knowledge, dark, sol, ##ito, ##n, exc...","[pages, figures, version, accepted, publicatio...","[k, ##rzy, ##sz, ##to, ##f, sac, ##ha, dominiq...",physics,train
2,"[impact, pri, ##mo, ##rdial, super, ##sonic, f...","[ts, ##elia, ##khov, ##ich, hi, ##rata, recent...","[paulo, mai, ##ora, can, ##am, ##us, accepted,...","[um, ##berto, mai, ##o, leon, v, e, ko, ##op, ...",physics,train
3,"[self, ##con, ##tracted, curves, spaces, weak,...","[show, bounded, self, ##con, ##tracted, curves...","[goofy, mistake, formulation, ##s, theorem, fi...","[nina, le, ##bed, ##eva, shin, ##ichi, oh, ##t...",mathematics,train
4,"[high, ##har, ##mon, ##ic, generation, liquids...","[high, ##har, ##mon, ##ic, generation, h, ##hg...","[pages, figures]","[ang, ##ana, mon, ##dal, ben, ##ed, ##ik, ##t,...",physics,train

## 03.03 - Vectorize the Data

In [4]:
df = engineer.vectorize(df)
df.head()

Vectorizing title: 100%|██████████| 1838/1838 [18:28<00:00,  1.66it/s]
Vectorizing summary: 100%|██████████| 1838/1838 [1:34:58<00:00,  3.10s/it]
Vectorizing comment: 100%|██████████| 1838/1838 [30:08<00:00,  1.02it/s]
Vectorizing authors: 100%|██████████| 1838/1838 [44:18<00:00,  1.45s/it]
Vectorizing columns: 100%|██████████| 4/4 [3:09:10<00:00, 2837.54s/it]

,title,summary,comment,authors,category,split,title_emb_0,title_emb_1,title_emb_2,title_emb_3,...,authors_emb_758,authors_emb_759,authors_emb_760,authors_emb_761,authors_emb_762,authors_emb_763,authors_emb_764,authors_emb_765,authors_emb_766,authors_emb_767
0,"['re', '##asse', '##ss', '##ment', 'kin', '##e...","['present', 'two', 'large', 'array', 'observat...","['pages', 'figures', 'accepted', 'publication'...","['l', 'lo', '##ina', '##rd', 'l', 'f', 'rodrig...",physics,train,-0.316280,0.338162,0.180578,-0.086113,...,0.384237,0.340324,-0.502156,-0.343597,0.112690,0.213713,-0.476484,-0.229278,0.071441,1.026443
1,"['proper', 'phase', 'imprint', '##ing', 'metho...","['common', 'knowledge', 'dark', 'sol', '##ito'...","['pages', 'figures', 'version', 'accepted', 'p...","['k', '##rzy', '##sz', '##to', '##f', 'sac', '...",physics,train,-0.271645,0.228114,0.203795,-0.257775,...,0.149170,0.405321,-0.476537,-0.217093,0.077831,0.093116,-0.260857,-0.220049,0.321768,1.114299
2,"['impact', 'pri', '##mo', '##rdial', 'super', ...","['ts', '##elia', '##khov', '##ich', 'hi', '##r...","['paulo', 'mai', '##ora', 'can', '##am', '##us...","['um', '##berto', 'mai', '##o', 'leon', 'v', '...",physics,train,-0.380401,0.264061,0.162928,-0.187630,...,0.162441,0.388853,-0.390608,-0.421488,0.330964,0.117055,-0.300907,-0.248837,0.070155,1.189720
3,"['self', '##con', '##tracted', 'curves', 'spac...","['show', 'bounded', 'self', '##con', '##tracte...","['goofy', 'mistake', 'formulation', '##s', 'th...","['nina', 'le', '##bed', '##eva', 'shin', '##ic...",mathematics,train,-0.496275,0.129620,0.048845,0.000629,...,0.036687,0.331114,-0.375899,-0.161252,0.392001,0.086262,-0.360758,-0.239269,0.370968,1.003285
4,"['high', '##har', '##mon', '##ic', 'generation...","['high', '##har', '##mon', '##ic', 'generation...","['pages', 'figures']","['ang', '##ana', 'mon', '##dal', 'ben', '##ed'...",physics,train,-0.163396,0.336321,0.343406,-0.162484,...,0.006293,0.426272,-0.663130,-0.555293,0.354917,0.132468,-0.514857,-0.171475,0.178355,0.848191

## 03.04 - Word Count

In [5]:
df = engineer.word_count(df)
df.head()

Counting words: 100%|██████████| 4/4 [00:00<00:00, 10.38it/s]

,title,summary,comment,authors,category,split,title_emb_0,title_emb_1,title_emb_2,title_emb_3,...,authors_emb_762,authors_emb_763,authors_emb_764,authors_emb_765,authors_emb_766,authors_emb_767,title_word_count,summary_word_count,comment_word_count,authors_word_count
0,"['re', '##asse', '##ss', '##ment', 'kin', '##e...","['present', 'two', 'large', 'array', 'observat...","['pages', 'figures', 'accepted', 'publication'...","['l', 'lo', '##ina', '##rd', 'l', 'f', 'rodrig...",physics,train,-0.316280,0.338162,0.180578,-0.086113,...,0.112690,0.213713,-0.476484,-0.229278,0.071441,1.026443,16,114,8,20
1,"['proper', 'phase', 'imprint', '##ing', 'metho...","['common', 'knowledge', 'dark', 'sol', '##ito'...","['pages', 'figures', 'version', 'accepted', 'p...","['k', '##rzy', '##sz', '##to', '##f', 'sac', '...",physics,train,-0.271645,0.228114,0.203795,-0.257775,...,0.077831,0.093116,-0.260857,-0.220049,0.321768,1.114299,18,67,10,11
2,"['impact', 'pri', '##mo', '##rdial', 'super', ...","['ts', '##elia', '##khov', '##ich', 'hi', '##r...","['paulo', 'mai', '##ora', 'can', '##am', '##us...","['um', '##berto', 'mai', '##o', 'leon', 'v', '...",physics,train,-0.380401,0.264061,0.162928,-0.187630,...,0.330964,0.117055,-0.300907,-0.248837,0.070155,1.189720,18,215,13,15
3,"['self', '##con', '##tracted', 'curves', 'spac...","['show', 'bounded', 'self', '##con', '##tracte...","['goofy', 'mistake', 'formulation', '##s', 'th...","['nina', 'le', '##bed', '##eva', 'shin', '##ic...",mathematics,train,-0.496275,0.129620,0.048845,0.000629,...,0.392001,0.086262,-0.360758,-0.239269,0.370968,1.003285,9,98,6,12
4,"['high', '##har', '##mon', '##ic', 'generation...","['high', '##har', '##mon', '##ic', 'generation...","['pages', 'figures']","['ang', '##ana', 'mon', '##dal', 'ben', '##ed'...",physics,train,-0.163396,0.336321,0.343406,-0.162484,...,0.354917,0.132468,-0.514857,-0.171475,0.178355,0.848191,18,170,2,36

## 03.05 - Named Entity Recognition

In [6]:
df = engineer.named_entity_recognition(df)
df.head()

Processing NER: 100%|██████████| 4/4 [29:55<00:00, 448.78s/it]

,title,summary,comment,authors,category,split,title_emb_0,title_emb_1,title_emb_2,title_emb_3,...,authors_ner_MONEY_count,authors_ner_NORP_count,authors_ner_ORDINAL_count,authors_ner_ORG_count,authors_ner_PERCENT_count,authors_ner_PERSON_count,authors_ner_PRODUCT_count,authors_ner_QUANTITY_count,authors_ner_TIME_count,authors_ner_WORK_OF_ART_count
0,"['re', '##asse', '##ss', '##ment', 'kin', '##e...","['present', 'two', 'large', 'array', 'observat...","['pages', 'figures', 'accepted', 'publication'...","['l', 'lo', '##ina', '##rd', 'l', 'f', 'rodrig...",physics,train,-0.316280,0.338162,0.180578,-0.086113,...,1,0,0,1,0,0,0,0,0,0
1,"['proper', 'phase', 'imprint', '##ing', 'metho...","['common', 'knowledge', 'dark', 'sol', '##ito'...","['pages', 'figures', 'version', 'accepted', 'p...","['k', '##rzy', '##sz', '##to', '##f', 'sac', '...",physics,train,-0.271645,0.228114,0.203795,-0.257775,...,1,0,0,0,0,0,0,0,0,0
2,"['impact', 'pri', '##mo', '##rdial', 'super', ...","['ts', '##elia', '##khov', '##ich', 'hi', '##r...","['paulo', 'mai', '##ora', 'can', '##am', '##us...","['um', '##berto', 'mai', '##o', 'leon', 'v', '...",physics,train,-0.380401,0.264061,0.162928,-0.187630,...,1,0,0,1,0,0,0,0,0,0
3,"['self', '##con', '##tracted', 'curves', 'spac...","['show', 'bounded', 'self', '##con', '##tracte...","['goofy', 'mistake', 'formulation', '##s', 'th...","['nina', 'le', '##bed', '##eva', 'shin', '##ic...",mathematics,train,-0.496275,0.129620,0.048845,0.000629,...,1,0,0,0,0,0,0,0,0,0
4,"['high', '##har', '##mon', '##ic', 'generation...","['high', '##har', '##mon', '##ic', 'generation...","['pages', 'figures']","['ang', '##ana', 'mon', '##dal', 'ben', '##ed'...",physics,train,-0.163396,0.336321,0.343406,-0.162484,...,1,0,0,0,0,0,0,0,0,0

## 03.06 - Sentiment Analysis

In [7]:
df = engineer.sentiment_analysis(df)
df.head()

Analyzing sentiment: 100%|██████████| 4/4 [00:58<00:00, 14.52s/it]

,title,summary,comment,authors,category,split,title_emb_0,title_emb_1,title_emb_2,title_emb_3,...,authors_ner_PERCENT_count,authors_ner_PERSON_count,authors_ner_PRODUCT_count,authors_ner_QUANTITY_count,authors_ner_TIME_count,authors_ner_WORK_OF_ART_count,title_sentiment,summary_sentiment,comment_sentiment,authors_sentiment
0,"['re', '##asse', '##ss', '##ment', 'kin', '##e...","['present', 'two', 'large', 'array', 'observat...","['pages', 'figures', 'accepted', 'publication'...","['l', 'lo', '##ina', '##rd', 'l', 'f', 'rodrig...",physics,train,-0.316280,0.338162,0.180578,-0.086113,...,0,0,0,0,0,0,0.200000,0.011905,0.0,0.0
1,"['proper', 'phase', 'imprint', '##ing', 'metho...","['common', 'knowledge', 'dark', 'sol', '##ito'...","['pages', 'figures', 'version', 'accepted', 'p...","['k', '##rzy', '##sz', '##to', '##f', 'sac', '...",physics,train,-0.271645,0.228114,0.203795,-0.257775,...,0,0,0,0,0,0,0.061111,-0.068122,0.0,0.0
2,"['impact', 'pri', '##mo', '##rdial', 'super', ...","['ts', '##elia', '##khov', '##ich', 'hi', '##r...","['paulo', 'mai', '##ora', 'can', '##am', '##us...","['um', '##berto', 'mai', '##o', 'leon', 'v', '...",physics,train,-0.380401,0.264061,0.162928,-0.187630,...,0,0,0,0,0,0,0.216667,0.152281,0.4,0.0
3,"['self', '##con', '##tracted', 'curves', 'spac...","['show', 'bounded', 'self', '##con', '##tracte...","['goofy', 'mistake', 'formulation', '##s', 'th...","['nina', 'le', '##bed', '##eva', 'shin', '##ic...",mathematics,train,-0.496275,0.129620,0.048845,0.000629,...,0,0,0,0,0,0,-0.375000,-0.005258,0.3,0.0
4,"['high', '##har', '##mon', '##ic', 'generation...","['high', '##har', '##mon', '##ic', 'generation...","['pages', 'figures']","['ang', '##ana', 'mon', '##dal', 'ben', '##ed'...",physics,train,-0.163396,0.336321,0.343406,-0.162484,...,0,0,0,0,0,0,-0.020000,0.050309,0.0,0.0

## 03.07 - Text Complexity

In [8]:
df = engineer.text_complexity(df)
df.head()

Calculating text complexity: 100%|██████████| 4/4 [00:06<00:00,  1.60s/it]

,title,summary,comment,authors,category,split,title_emb_0,title_emb_1,title_emb_2,title_emb_3,...,authors_ner_TIME_count,authors_ner_WORK_OF_ART_count,title_sentiment,summary_sentiment,comment_sentiment,authors_sentiment,title_ari,summary_ari,comment_ari,authors_ari
0,"['re', '##asse', '##ss', '##ment', 'kin', '##e...","['present', 'two', 'large', 'array', 'observat...","['pages', 'figures', 'accepted', 'publication'...","['l', 'lo', '##ina', '##rd', 'l', 'f', 'rodrig...",physics,train,-0.316280,0.338162,0.180578,-0.086113,...,0,0,0.200000,0.011905,0.0,0.0,14.0,14.0,14.0,14.0
1,"['proper', 'phase', 'imprint', '##ing', 'metho...","['common', 'knowledge', 'dark', 'sol', '##ito'...","['pages', 'figures', 'version', 'accepted', 'p...","['k', '##rzy', '##sz', '##to', '##f', 'sac', '...",physics,train,-0.271645,0.228114,0.203795,-0.257775,...,0,0,0.061111,-0.068122,0.0,0.0,14.0,14.0,14.0,14.0
2,"['impact', 'pri', '##mo', '##rdial', 'super', ...","['ts', '##elia', '##khov', '##ich', 'hi', '##r...","['paulo', 'mai', '##ora', 'can', '##am', '##us...","['um', '##berto', 'mai', '##o', 'leon', 'v', '...",physics,train,-0.380401,0.264061,0.162928,-0.187630,...,0,0,0.216667,0.152281,0.4,0.0,14.0,14.0,14.0,14.0
3,"['self', '##con', '##tracted', 'curves', 'spac...","['show', 'bounded', 'self', '##con', '##tracte...","['goofy', 'mistake', 'formulation', '##s', 'th...","['nina', 'le', '##bed', '##eva', 'shin', '##ic...",mathematics,train,-0.496275,0.129620,0.048845,0.000629,...,0,0,-0.375000,-0.005258,0.3,0.0,14.0,14.0,14.0,14.0
4,"['high', '##har', '##mon', '##ic', 'generation...","['high', '##har', '##mon', '##ic', 'generation...","['pages', 'figures']","['ang', '##ana', 'mon', '##dal', 'ben', '##ed'...",physics,train,-0.163396,0.336321,0.343406,-0.162484,...,0,0,-0.020000,0.050309,0.0,0.0,14.0,14.0,14.0,14.0

## 03.08 - Prepare the Data for Modelling

In [9]:
df = engineer.prepare(df)
df.head()

,title_emb_0,title_emb_1,title_emb_2,title_emb_3,title_emb_4,title_emb_5,title_emb_6,title_emb_7,title_emb_8,title_emb_9,...,title_sentiment,summary_sentiment,comment_sentiment,authors_sentiment,title_ari,summary_ari,comment_ari,authors_ari,category,split
0,-0.316280,0.338162,0.180578,-0.086113,-0.247716,0.640725,0.333832,0.832219,-0.262952,0.072209,...,0.200000,0.011905,0.0,0.0,14.0,14.0,14.0,14.0,physics,train
1,-0.271645,0.228114,0.203795,-0.257775,-0.083051,0.499957,0.471172,0.737172,-0.135142,0.213080,...,0.061111,-0.068122,0.0,0.0,14.0,14.0,14.0,14.0,physics,train
2,-0.380401,0.264061,0.162928,-0.187630,-0.171296,0.660988,0.372280,0.938673,-0.259530,-0.110329,...,0.216667,0.152281,0.4,0.0,14.0,14.0,14.0,14.0,physics,train
3,-0.496275,0.129620,0.048845,0.000629,-0.320589,0.458095,0.439276,0.694186,-0.358091,-0.272360,...,-0.375000,-0.005258,0.3,0.0,14.0,14.0,14.0,14.0,mathematics,train
4,-0.163396,0.336321,0.343406,-0.162484,-0.134234,0.729687,0.424456,0.891292,-0.304655,0.020353,...,-0.020000,0.050309,0.0,0.0,14.0,14.0,14.0,14.0,physics,train

## 03.09 - Normalize the Data

In [10]:
df, scaler = engineer.normalize_dataframe(df)
df.head()

,title_emb_0,title_emb_1,title_emb_2,title_emb_3,title_emb_4,title_emb_5,title_emb_6,title_emb_7,title_emb_8,title_emb_9,...,title_sentiment,summary_sentiment,comment_sentiment,authors_sentiment,title_ari,summary_ari,comment_ari,authors_ari,category,split
0,-0.316280,0.338162,0.180578,-0.086113,-0.247716,0.640725,0.333832,0.832219,-0.262952,0.072209,...,0.600000,0.451058,0.50,0.5,1.0,1.0,1.0,1.0,physics,train
1,-0.271645,0.228114,0.203795,-0.257775,-0.083051,0.499957,0.471172,0.737172,-0.135142,0.213080,...,0.530556,0.406599,0.50,0.5,1.0,1.0,1.0,1.0,physics,train
2,-0.380401,0.264061,0.162928,-0.187630,-0.171296,0.660988,0.372280,0.938673,-0.259530,-0.110329,...,0.608333,0.529045,0.70,0.5,1.0,1.0,1.0,1.0,physics,train
3,-0.496275,0.129620,0.048845,0.000629,-0.320589,0.458095,0.439276,0.694186,-0.358091,-0.272360,...,0.312500,0.441523,0.65,0.5,1.0,1.0,1.0,1.0,mathematics,train
4,-0.163396,0.336321,0.343406,-0.162484,-0.134234,0.729687,0.424456,0.891292,-0.304655,0.020353,...,0.490000,0.472394,0.50,0.5,1.0,1.0,1.0,1.0,physics,train

## 03.10 - Save the Data

In [12]:
save_data(df, f'../data/03_{filename}_engineered.bin')

Data saved successfully to ../data/03_arxiv_engineered.bin